.content-container{
    background-image: url('../img/background.png');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
    filter: brightness(0.7);
    min-width: 100% !important;
    padding-top: 100px !important;
}