.section-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 40px 20px;
}

.loopCounter{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}