.progress-container {
  background-color: #1e1e1e; /* fondo oscuro estilo terminal */
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  color: #fff;
  font-family: 'Fira Code', monospace;
}

.skill {
  margin-bottom: 20px;
}

.skill-name {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #a5a5a5; /* gris suave */
}

.progress-bar-wrapper {
  position: relative;
  background-color: #333; /* barra gris de fondo */
  height: 12px;
  border-radius: 6px;
}

.progress-bar-fill {
  background-color: #94312B; /* naranja rojizo */
  height: 100%;
  border-radius: 6px;
}

.progress-percentage {
  position: absolute;
  right: 10px;
  top: -20px;
  font-size: 14px;
  font-weight: bold;
  color: #94312B;
}
