.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s forwards; 
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.background-intro{
    background-image: url('../img/background.png');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
    filter: brightness(0.7);
    min-width: 100% !important;
}

.subtitle{
    color: #f4a261;
}

.title{
    color: #264653;
}

.container-intro{
  height: calc(100dvh - 100px);
}

.h-100{
  height: 100% !important;
}

.w-100{
  width: 100% !important;
}