.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s forwards; 
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.subtitle{
    color: #f4a261;
    font-weight: bold;
}


.title{
   font-weight: bold !important;
    background: linear-gradient(
    135deg,
    hsl(350, 85%, 60%) 0%,
    hsl(30, 90%, 55%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent !important;
}

.container-intro{
  height: calc(100dvh - 100px);
}

.h-100{
  height: 100% !important;
}

.w-100{
  width: 100% !important;
}
.intro-box{
  margin: 10%;
}