.content-container{
    /* background-image: url('../img/peakpx\ \(4\).jpg');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;  */
    min-width: 100% !important;
    padding-top: 100px !important;
}

body{
     background-image: url('../img/peakpx\ \(4\).jpg');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
  background-attachment: fixed; 
}

.reactive-btn{
  background-color: #94312B;
}