.vertical-timeline::before{
  background-color: antiquewhite !important;
}

.vertical-timeline-element-content, .vertical-timeline-element-icon{
  background: linear-gradient(135deg, rgba(255,120,0,0.55), rgba(255,70,0,0.45)) !important;
  backdrop-filter: blur(18px) !important;
  -webkit-backdrop-filter: blur(18px) !important;
  box-shadow: 0 4px 25px rgba(255,120,0,0.45) !important;
  border-bottom: 1px solid rgba(255,160,0,0.5) !important;
  color: white;
}